.cards {
    /* display: inline-block; */
    /* flex-direction: column; */
    /* display: flex;
    flex-direction: row; */
    width: 10vw;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}