.loginFo{
    width: 400px;
    background: #1f2932;
    padding: 30px;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
}
.login{
    text-align: center;
}
.tn{
    text-align: center;
}